.entry-date
  color: rgba(0,0,0,.44) 
  font-size: 16px

.description-blue
  background: #b5e3f23d
  border-radius: 5px
  color: rgba(0, 0, 0, 0.7)
  font-size: 14px
  font-style: italic
  margin-bottom: 18px
  padding: 10px

.description-red
  background: #f2b7b53d
  border-radius: 5px
  color: rgba(0, 0, 0, 0.7)
  font-size: 14px
  font-style: italic
  margin-bottom: 18px
  padding: 10px
 
.paginator
  list-style-type: none
  margin: 0
  padding: 30px 0

  li
    display: inline

  .older
    float: right

.post-list .post-thumb
  display: block

.iframe-container
  position: relative
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0

.iframe-container iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
